@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 mt-2 mb-2 mx-auto bg-gray-800 hover:bg-purple-600 hover:text-white rounded-3xl hover:rounded-lg transition-all cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;

  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    width: 5px;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #312e81;
  }
}